* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.products-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 820px;
  margin: 0 auto;
}
.product-item {
  width: 400px;
  border: 2px solid black;
  /* border-radius: 10px; */
}
.product-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
}
.product-description{
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   color: #999999;
}
.product-price{
    font-family: "Roboto", sans-serif;
     font-weight: 500;
}
.load-more{
 margin: 0 auto;
 background-color: rgb(228, 157, 218);
 color: #333333;
 padding: 10px 20px;
 margin-top: 15px;
}
